:root {
	--text-color: #333;
	--text-color-hover: green;
	--background: #fff;
	
}
.dark-mode {
	--text-color: #fff;
	--text-color-hover: green;
	--background: #2C3639;
}
body {
	padding: 0;
    margin: 0;
    background: var(--background);
    font-family: 'Montserrat', sans-serif;
	transition: ease-in-out 1s;
}
.navbar {
	margin: 0 2rem;
}
.nav-link, .navbar-brand {
    color: var(--text-color);
    cursor: pointer;
	
}
.navbar-brand img {
	height: 50px;
}
.nav-link {
    margin: 0 1em !important;
}
.nav-link:hover {
    color: green;
}
.navbar-collapse {
    justify-content: flex-end;
}
.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #ff3446;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after {
	width: 70%;
}
.dropdown-item {
	text-overflow: ellipsis;
	overflow: hidden; 
	max-width: 20em; 
	white-space: nowrap;
}
#icon {
	width: 30px;
	cursor: pointer;
}
.container-img {
	position: relative;
	animation: fade-in 3s;
	
}
.container img {
	width: 200px;
	margin: 5% 0;
	border-radius: 1rem;
	animation: fade-in 2s;
}
@keyframes fade-in {
	0% { opacity: 0;}
	100% { opacity: 1;}
}
.overlay {
	position: absolute;
	top: 0;
    left: 0;
	padding: 0 10px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.03);
    backdrop-filter: blur(15px);
	color:#fff;
	display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    white-space: pre-line;
    text-align: left;
	transition:  0.5s ease;
	border-radius: 1rem;
	opacity: 0;
	transform: scale(0.9);
	
}
.overlay:hover {
	opacity: 1;
	cursor: pointer;
	transform: scale(1);
}
.overlay h3 {
	font-weight: 800;
}
.overlay p {
	font-size: 0.70em;
}
.page-footer {
    background-color: #222;
    color: #CCC;
    padding: 60px 0 30px;
	margin-top: 50px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}
#socmed{
	color:  #CCC;
}
#socmed:hover{
  color:  #666;
}